/target/
.dbeaver
*.bak
*.log
*.lock
*.md.html
.DS_Store
*.swp
local
.dbeaver*
**/*.log
.directory
venv/
.idea
*.iml
target
.cache
dependency-reduced-pom.xml
.project
.classpath
pom.xml.versionsBackup
~*
*.orig
*.old
*.flattened-pom.xml